    table {
        border: 0px;
        border-collapse: collapse;
        border-spacing: 0px;
    }

    table td {
        border: #000000 solid 1px;
        padding: 0px;
        margin: 0px;
    }

    table th {
        background-color: #000000;
        color: #ffffff;
        border: #ffffff solid 1px;
    }

    table tr:nth-child(even) {
        background-color: #aeaeae;
        color: #000000;
    }

    table tr:nth-child(odd) {
        background-color: #ffffff;
        color: #000000;
    }